html {
  box-sizing: border-box;
  background-image: linear-gradient(45deg, red, black);
  font-family:'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}
body {
  transition: background-image 1s;
  margin: 0; 
}
*, *:before, *:after {
  box-sizing: inherit;
}

.site-wrap {
  max-width: 900px;
  margin: 60px auto;
  background:white;
  padding:30px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.98);
  transition:all 0.4s;
  border-radius:15px;
  text-align:center;
}
body.bayern{background-image:repeating-linear-gradient(45deg, red 0%, white 10%, red 15%, white 25%, blue 67%, red 72%, white 81%, red 89%, blue 95%);}
body.barca{background-image:repeating-linear-gradient(to right, red 15%, blue 25%, red 67%, blue 91%, red 95%);}
body.chelsea{background-image:repeating-linear-gradient(60deg, white 0%, blue 10%, rgb(0,0,120) 48%, white 70%, blue 90%);}
body.leverkusen{background-image:repeating-linear-gradient(65deg, red 0%, black 20%, yellow 80%);}


body.fixed-nav .site-wrap{
	transform: scale(1);
}

.club{ transition: all 0.6s; width:0px; text-align:center;}

.clubGrow {width:284px;}

header {
  text-align: center;
  height:50vh;
  background:url(Ballack.jpg) top center no-repeat;
  background-size:cover;
  display:flex;
  align-items:center;
  justify-content: center;
  word-spacing: 140%;
  text-shadow: 12px 12px red;
}

h1 {
  color:white;
  font-size: 7vw;
  text-shadow: 3px 4px 0 rgba(0,0,0,0.2)
}

nav {
  background:black;
  top:0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}



body.fixed-nav nav {
	position:fixed;
	box-shadow: 0 5px rgba(0,0,0,0.1);
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
}

nav li {
  flex:1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  max-width:0;
  overflow: hidden;
  background: white;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
}

li.logo a {
  color:black;
}

.fixed-nav li.logo{
	max-width:500px;
}

li.home a{
float:left;
transition:all 1s;
color:rgba(10,10,200,0.9);
}

.fixed-nav li.home a{
  position:absolute;
  color:rgba(200,10,20,0.9);
}

nav a {
  text-decoration: none;
  padding:20px;
  display: inline-block;
  color:white;
  transition:all 0.2s;
  text-transform: uppercase;
}

.align-left { float:left;   margin-right:20px; }
.align-right { float:right; margin-left:20px;  }

.slide-in { opacity:0;  transition:all .5s; }

.align-left.slide-in { transform:translateX(-30%) scale(0.95);}
.align-right.slide-in { transform:translateX(30%) scale(0.95);}

.slide-in.active { opacity:1; transform:translateX(0%) scale(1);}